<div class="wv-container">
  <div class="wrapper">
    <div class="img-container">
      <img src="assets/images/main-page-img.svg" alt="">
    </div>
    <div class="title">
      Отсканируйте QR код на вашем столе, чтобы перейти в меню
    </div>
    <div class="description">
      Всего за несколько кликов вы оформите заказ и официант сам найдет ваш стол
    </div>
    <div class="btns">
      <button [routerLink]="'/scan'" mat-flat-button class="scan-btn">
        Отсканировать
      </button>
    </div>
  </div>
</div>
