.title{
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  margin-bottom: 30px;
}

.field{
  display: block;
  margin-bottom: 20px;

  input {
    padding: 15px;
    background: #F4F4F4;
    border-radius: 10px;
    outline: none;
    border: none;
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    min-width: 335px;
  }

  input::placeholder{
    color: rgba(0, 0, 0, 0.5);
  }
}

.label{
  display: block;
  margin-bottom: 6px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(37, 42, 45, 0.5);
}

.btns{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.submit-button, .cancel-button{
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 15px;
  flex: 1;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.submit-button{
  background: #F46F49;
  color: #FFFFFF;
}

.cancel-button{
  color: #909090;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.search{
  position: relative;

  input{
    outline: none;
    border: 1px solid #D5D5D5;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 15px 49px 15px 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #252A2D;
    width: 420px;
  }

  input::placeholder{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #919191;
  }

  .icon{
    position: absolute;
    right: 15px;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
  }
}

.content {
  height: 400px;
  padding: 1rem 0 0;
  overflow: auto;
}

.item {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  //border-bottom: 1px solid #7A7A7A;
  padding: 16px 5px;
  transition: linear background-color .2s;
  border-radius: 10px;
}

.selected_item {
  background-color: #EDEDED;
}

.item:hover {
  background-color: #eeeeee;
}


.btns{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.submit-button, .cancel-button{
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 15px;
  flex: 1;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.submit-button{
  background: #F46F49;
  color: #FFFFFF;
}

.cancel-button{
  color: #909090;
}

.close-btn{
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  color: #252A2D;
}
