h1:hover {
  color: gray;
  text-decoration: underline;
}

h1 {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.post {
  background: aliceblue; margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
}
