<div class="web-container wb-con">
  <div class="header">
    <div class="title">
      Заказы
    </div>
    <div class="search">
      <div class="icon">
        <img src="assets/images/search_gray.svg" alt="" width="24" height="24">
      </div>
      <input placeholder="Поиск" type="text" matInput>
    </div>
  </div>
  <div class="content">
    <mat-tab-group class="tabs">
      <mat-tab label="Заказы" [tabindex]="1">
        <div class="empty" *ngIf="orders.length === 0">
          <div class="empty-message">
            <img src="assets/images/empty-list2.svg" alt="">
            <div class="emtpy-message-title">У вас нет заказов</div>
          </div>
        </div>
        <mat-table *ngIf="orders.length" [dataSource]="orders" class="table">
          <ng-container *ngFor="let column of columns" [matColumnDef]="column.name">
            <mat-header-cell  *matHeaderCellDef sticky>
              {{column.title}}
            </mat-header-cell>
            <ng-container *ngIf="column.name!=='created'" >
              <mat-cell *matCellDef="let element" [routerLink]="['/admin/orders/' + element.id]">
                {{element[column.name]}}
              </mat-cell>
            </ng-container>
            <ng-container *ngIf="column.name==='created'" >
              <mat-cell *matCellDef="let element" [routerLink]="['/admin/orders/' + element.id]">
                {{element[column.name] | date: 'dd.mm.yyyy, HH:mm'}}
              </mat-cell>
            </ng-container>
          </ng-container>
          <mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></mat-header-row>
          <mat-row [routerLink]="['/admin/orders' + row.id]" *matRowDef="let row; columns: columnsToDisplay"></mat-row>
        </mat-table>
      </mat-tab>
      <mat-tab label="Вызовы" [tabindex]="2">
        <div class="empty" *ngIf="calls.length === 0">
          <div class="empty-message">
            <img src="assets/images/empty-list2.svg" alt="">
            <div class="emtpy-message-title">У вас нет вызовов</div>
          </div>
        </div>
        <mat-table *ngIf="calls.length" [dataSource]="calls" class="table order-table">
          <ng-container *ngFor="let column of callColumns" [matColumnDef]="column.name">
            <mat-header-cell  *matHeaderCellDef sticky>
              {{column.title}}
            </mat-header-cell>
            <ng-container *ngIf="column.name!=='created' && column.name!=='status' && column.name!=='type'">
              <mat-cell *matCellDef="let element">
                {{element[column.name]}}
              </mat-cell>
            </ng-container>
            <ng-container *ngIf="column.name==='created'">
              <mat-cell *matCellDef="let element">
                {{element[column.name] | date: 'dd.mm.yyyy, HH:mm'}}
              </mat-cell>
            </ng-container>
            <ng-container *ngIf="column.name==='status'">
              <mat-cell *matCellDef="let element"
                        [class.accept]="element[column.name] === ECallStatus.OPEN"
                        [class.warning]="element[column.name] === ECallStatus.CANCELLED"
                        [class.secondary]="element[column.name] === ECallStatus.CLOSED"
              >
                {{ callStatusRU[element[column.name]] }}
              </mat-cell>
            </ng-container>
            <ng-container *ngIf="column.name==='type'" >
              <mat-cell *matCellDef="let element">
                {{ callRU[element[column.name]] }}
              </mat-cell>
            </ng-container>
          </ng-container>
          <ng-container [matColumnDef]="'close'">
            <th mat-header-cell *matHeaderCellDef sticky></th>
            <td mat-cell *matCellDef="let element">
              <button [disabled]="element.status !== ECallStatus.OPEN" mat-flat-button class="primary-btn ask-btn" (click)="$event.stopPropagation();closeCall(element)">Закрыть</button>
            </td>
          </ng-container>
          <mat-header-row *matHeaderRowDef="callColumnsToDisplay; sticky: true"></mat-header-row>
          <ng-container *ngIf="isMobile">
            <mat-row *matRowDef="let row; columns: callColumnsToDisplay"
                     (click)="openCallDetail(row)"
            >
            </mat-row>
          </ng-container>
          <ng-container *ngIf="!isMobile">
            <mat-row *matRowDef="let row; columns: callColumnsToDisplay"></mat-row>
          </ng-container>
        </mat-table>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
